<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>FitZoom</title>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
  <h1><b>FitZoom</b></h1>
  <div>
  	<h2><b>Please Enter Your Username</b></h2> 
  	<input id="username"/>
  	<br/>
  	<a id="enter" href="http://nodejs-mongodb-example-fit-zoom.0ec9.hackathon.openshiftapps.com/">
  		<button><b>Enter</b></button>
  	</a>
  </div>
  <img src=http://i.imgur.com/S6TkINM.png/>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>